html, body {

	margin: 0;
	padding: 0;

}

html, body {

	height: 100%;

}

body {

	background-color: #41464a;
	background-image: url(../images/bg.png);
	background-repeat: repeat;

}

#preview {

	display: none;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;

}

.main {

	display: flex; 
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column

}

.file-container {

	overflow: hidden;
	position: relative;

}

.file-container [type=file] {

	cursor: inherit;
	display: block;
	font-size: 999px;
	filter: alpha(opacity=0);
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;

}

.file-container {

	float: left;
	
}

.file-container:hover {

	background-color: #656e72;

}

.options, .file-container {

	-webkit-box-shadow: 0px 0px 12px 0px #000000; 
	box-shadow: 0px 0px 12px 0px #000000;
	color: white;
	width: 350px;
	padding: .8em;
    background: #4d5457;
    border-radius: .5em;
	text-align: center;
	font-size: 20px;

}

.options {

	margin-top: 10px;
	
}

#alpha input, #scale input {

	border: 1px solid #000;
	padding: 4px;
	width: 100px;

}

#scale input {

	width: 116px;

}

#stats, #mats, #scale {

	margin-top: 15px;

}

a {

	color: white;
	text-decoration: none;

}

.github {

	position: absolute;
	top: 15px;
	right: 15px;
	color: white;

}